{% extends "base.html" %}

{% block title %}
  {{ review.restaurant.name }} - Delete Review
{% endblock title %}

{% block content %}
  <h1>
    <a href="{% url "review_detail" review.pk %}" class="btn btn-secondary">
      <i class="bi bi-arrow-left"></i>
    </a>
    {{ review.restaurant.name }} - Delete Review
  </h1>
  <form action="" method="POST">
    {% csrf_token %}
    <p>Are you sure you want to delete this Review?</p>
    <div class="card">
      <div class="card-body">
        {% include "partials/_review.html" %}
      </div>
    </div>
    <br>
    <input class="btn btn-danger" type="submit" value="Confirm">
  </form>
{% endblock content %}
